* annex.largefiles=anything
.gitattributes annex.largefiles=nothing
.gitignore annex.largefiles=nothing
.datalad/** annex.largefiles=nothing
README* annex.largefiles=nothing
dataset_description.json annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
desc-*_dseg.tsv annex.largefiles=nothing
logs/CITATION.* annex.largefiles=nothing
code/** annex.largefiles=nothing
